<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <section>
    <div class="search">

      <div class="input-group mb-3">
        <input
              formControlName="query"
              type="text"
              class="form-control"
              placeholder="Szukaj"
              aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button type="submit" class="btn">
            <img src="../../../assets/lupka3.png" height="21px" alt="">
          </button>
        </div>
      </div>

    </div>
  </section>
</form>
