.main-color {
    color: rgb(36, 97, 155);
    text-decoration: none;
}

.on-right {
    display: flex;
    justify-content: flex-end;
    /* background-color: cornflowerblue; */
}

.trash {
    background: none;
    border: none;
}

.trash:hover {
    cursor: pointer;
}

.trash:focus {
    box-shadow: none;
    outline: 0 none;
}

