<!-- Skrócona wersja posta wyświetlana na stronie głównej -->
<div class="container">
  <div class="row">
    <div class="col-8">
      <!-- Tytuł posta -->
      <h4 class="main-color">{{data?.title}}</h4>
    </div>

  <div class="col-4 on-right">
    <!-- Ikona śmietniczka -->
    <button class="trash" type="button" (click)="onClick()" *appAllowedUser="'Admin'">
      <img src="../../../assets/kosz.png" height="20px" alt="kosz">
    </button>
  </div>
</div>

  <!-- Obcina treść właściwą posta po 250 znkach -->
  <div>
    <p>{{data?.text.substr(0,250)+'...'}}</p>
  </div>

  <div class="on-right">
    <!-- Przejście do całości posta -->
    <button id="read" routerLink="/posts/{{data?.id}}" class="btn btn-outline-info">Czytaj Dalej</button>
  </div>
</div>




