<div id="wrapper" class="wrapper">
    <!-- Nawigacja -->
    <nav id="navbar" class="navbar sticky-top navbar-dark">
      <div class="col-auto mr-auto">
        <a class="navbar-brand" routerLink="posts" routerLinkActive="active">
          <img src="../assets/blog - logo szare.png" height="30px" class="d-inline-block align-top" alt="logo">
          MadzioBlog
        </a>
      </div>

      <div class="col-auto">
        <div class="row">
          <a class="btn btn-outline-secondary col-auto mr-auto" routerLink="/create" routerLinkActive="active" *appAllowedUser="'Admin'">Dodaj Nowy Post</a>
          <app-user class="col-auto"></app-user>
        </div>
      </div>
    </nav>

    <!-- Treść strony -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <!-- Stopka -->
    <footer class="footer">
      <p>Magd@Lena L. nr albumu: 45213</p>
      <!-- Ikona przejścia do góry strony -->
      <img class="to-top" (click)="toTop()" src="../assets/up.png" alt="">
    </footer>

</div>




