<!-- Widok dla niezalogowanych -->
<div *appAllowedUser="'Anonymous'" class="form-container anonymous">
  <h4>Zaloguj się aby dodać nowy post.</h4>
</div>

<!-- Widok dla Admina -->
<div *appAllowedUser="'Admin'" class="form-container">

  <h4>Dodaj Nowy Post</h4>

  <form [formGroup]="postForm" (ngSubmit)="createPost()" >

    <div class="title">
      <label>Tytuł:
        <input type="text" formControlName="title" class="form-control">
      </label>
      <p class="error" *ngIf="showErrors && postForm.get('title').errors?.required">
        *Nazwa jest wymagana.
      </p>
      <p class="error" *ngIf="showErrors && postForm.get('title').errors?.minlength">
        *Nazwa musi zawierać minimum 2 znaki.
      </p>
      <p class="error" *ngIf="showErrors && postForm.get('title').errors?.maxlength">
        *Nazwa może zawierać maksymalnie 100 znaków.
    </p>
  </div>

  <div class="text">
      <label>Treść:
        <textarea class="form-control" rows="10" cols="50" formControlName="text"></textarea>
      </label>
      <p class="error" *ngIf="showErrors && postForm.get('text').errors?.required">
        *Treść jest wymagana.
      </p>
      <p class="error" *ngIf="showErrors && postForm.get('text').errors?.minlength">
        *Treść musi zawierać minimum 5 znaków.
      </p>
  </div>

  <button type="reset" (click)="resetForm()" class="btn btn-secondary mb-2 reset">Reset</button>
  <button type="submit" class="btn btn-success mb-2">Opublikuj</button>

  </form>

</div>
