.error {
    background-color: coral;
    color: white;
    font-weight: bold;
  }

.form-container {
  padding-top: 30px;
  min-height: calc(100vh - 196px);
  background-color: rgb(220, 220, 220);
}
.anonymous {
  height: calc(100vh - 196px);
  display: flex;
  justify-content: center;
}

