.error {
    color: red;
    font-size: .8rem;
  }

.form-container {
  padding: 50px 50px;
  min-height: calc(100vh - 256px);
  margin: 0 auto;
  max-width: 800px;
  background-color:  rgb(245, 245, 245);
  margin-top: 30px;
  margin-bottom: 30px;
}

.anonymous {
  height: calc(100vh - 196px);
  display: flex;
  justify-content: center;
}

.reset {
  margin-right: 5px;
}

.title {
  height: 130px;
}

.text {
  height: 335px;
}

.form-control {
  resize: none;
}

textarea:focus, input:focus {
  border-color: rgba(33, 182, 228, 0.8);
  box-shadow: 0 1px 1px rgba(33, 182, 228, 0.075) inset, 0 0 8px rgba(33, 182, 228, 0.6);
  outline: 0 none;
}

.btn:focus {
  box-shadow: none;
  outline: 0 none;
}
