.container {
    min-height: calc(100vh - 256px);
    background-color:  rgb(245, 245, 245);
    max-width: 800px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.new-container {
    padding-top: 30px;
    height: calc(100vh - 256px);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


