.main-color {
    color: rgb(36, 97, 155);
    text-decoration: none;
}

.btn-danger {
    background-color: #dd1c2fd6;
}

.col-4 {
    text-align: end;
}

.post-content {
    padding-top: 30px;
}
.post-content p {
    font-size: 1.1rem;
    text-align: justify;
}
